<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <meta http-equiv="Content-Language" content="zh-cn" />
    <?php
      $baseCss = getConfig('file', array('style', 'css'));
      $variables = &loadSysClass('variables');
      $pageCss = $variables->getVariables(array('template', 'css'));
      $baseJs = getConfig('file', array('style', 'javascript'));
      $headJs = $variables->getVariables(array('template', 'headjs'));

      if(!empty($baseCss)) displayCssFile($baseCss);
      if(!empty($pageCss)) displayCssFile($pageCss);
      if(!empty($baseJs)) displayJsFile($baseJs);
      if(!empty($headJs)) displayJsFile($headJs);
    ?>
    <title><?=getConfig('file', array('page', 'title'));?></title>
  </head>
  <body id="_body">
